h1{/*Se aplica estilo al encabezado h1*/
    color: blueviolet; /*Se cambia el color de la fuente a azul*/
}
h2{/*Se aplica estilo al subencabezado h2*/
    font-size: 24px; /*el encabezo es de 24px*/
}
h3{/*Se aplica estilo al encabezado de tercer nivel*/
    margin-bottom: 10px;/*el encabezo es de 10px*/
}
p{/*Se aplica estilo al párrafo*/
    background-color: beige; /*se cambia el color del párrafo*/
    color:brown /* se cambia el color de la laetra del párrafo*/
}
a{/*Se aplica estilo al enlace*/
    text-decoration: none; /*no tiene la linea del enlace*/
    color: chartreuse; /*El enlace es color verde lima*/
}